.card-wrap {
    position: relative;

    overflow: hidden;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    height: 10%;

    /* width: max(200px, 20dvw); */
    padding: 2vw;
    border: 2px solid var(--secondary-color);
    border-radius: 3vw;

    text-align: center;
}

.image-wrap {
    overflow: hidden;
    flex-grow: 0;
    height: 100%;
    border-radius: 2vw;
}

.info-wrap {
    display: grid;
    grid-template-areas:
        "name stock"
        "name price"
        "description description";
    flex-basis: 40%;
    align-items: center;
}

.name {
    grid-area: name;
    justify-self: start;
}

.stock {
    grid-area: stock;
    justify-self: end;
}

.price {
    grid-area: price;
    justify-self: end;
}

.description {
    grid-area: description;
}

.button-wrap {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    height: 4cqh;
}

.button {
    composes: default-btn from global;
    height: 100%;

    /* height: 45px; */
}

.count {
    display: flex;
    align-items: center;
    font-family: Pacifico, sans-serif;
    font-size: 2rem;
}

.btn-ctrl {
    composes: default-btn from global;
    aspect-ratio: 1/1;
    height: 100%;

    /* height: 45px; */
}

.no-stock {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: rgb(0 0 0 / 40%);

    & > h1 {
        transform: rotateZ(-25deg);
        width: 100%;
        border: 2px solid var(--secondary-color);
        background: var(--main-color);
    }
}
